html{
	background: #1d1f41
}
body {
	margin: 0%;
	padding: 0%;
	height: 100vh;
	/*background-size: 100% 100%;*/
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	/* Customize */

	/* background-image: url("path/to/image") */
	background-image: url("images/gFForest.png");

	/* color: your color */
	/*color: #fff;*/
	color: #32eeba;

	/* font-family: 'your font' */
	font-family: 'fira code';
}
iframe
{
	position: absolute;
	/*height: 80%;
	widht: 90vw;*/
}

.content {
	background: rgba(0, 0, 0, 0.5);
	/*backdrop-filter: blur(3px);*/
	border-radius: 5vw; 
	margin: 1vw;
}
#searcher
{
	background: rgba(0, 0, 0, 0.5);
	/*backdrop-filter: blur(3px);*/
	border-radius: 5vw; 
	margin: 1vw;
	font-size: 2vw;
	text-align: center;
}

#searchS
{
	font-size: 2vw;
	background: rgba(0, 0, 0, 0.3);
	color: #32eeba;

	border-color: #32eeba;
	border-radius: 5vw; 
	border-width: 0.2vw;

	margin: 2vw;

}

#searchB
{
	font-size: 2vw;
	color: rgba(0, 0, 0, 0.6);
	background: #32eeba;

	border-color: #32eeba;
	border-radius: 10vw; 
	border-width: 0.2vw;

	margin: 2vw;
}

#searchB:hover {
	transform: scale(1.2);
}

#searchB:focus {
	transform: scale(1.2);
}


#searcher label {
	position: relative;
	margin: 2vw;

}

#searcher img:hover {
	transform: scale(1.2);
}

#searcher img {
	position: absolute;
	left: -1vw;
	bottom: -0.0vw;
	width: 4vw;
}

input:focus{
	outline: 0.2vw solid #32eeba; 
}


#launcher
{
	position:relative;
	margin-right:5vw;
}

#launcherS{
	position:absolute;
	top: -3.5vw;
	width: 3vw;
	height: 3vw;
	background: rgba(0, 0, 0, 0.0);
	color: rgba(0, 0, 0, 0.0);
	border-color: #32eeba;
	border-radius: 5vw; 
	border-width: 0.2vw;

}

#launcherS:focus{
	outline: 0.2vw none #32eeba; 
}


#greeting{
	margin-top: 2vw;
	font-size: 2vw;
	text-align: center;
}

#time {
	margin-left: 2vw;
	margin-right: 2vw;
	font-size: 10vw;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 40px 40px rgba(122, 162, 247, 0.26);
}

#bookmarks {
	margin-top: 0;
	padding: 1vw;
	margin-bottom: 2vw;
	list-style-type: none;
	text-align: center;
	border-top: solid;
	border-color: #32eeba;
	border-width: 0.2vw;
}

#bookmarks li {
	display: inline-block;
	transition: 0.3s;
}

#bookmarks li:hover {
	transform: scale(1.7);
}

#bookmarks img {
	width: 3vw;
}

#bookmarks #bookmarksUpsa {
	width: 3vw;
	height: 3.5vw;
}
#bookmarks #bookmarksHomebrew {
	width: 3vw;
	height: 4vw;
}
#launcher:hover
{
	transform: scale(1) !important;

}
